
{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>{{titulo_pagina}}</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
</head>
<body class="bg-dark text-light">
    {% include 'usuarios/header.html'%}
    {% include 'usuarios/links.html'%}
    <div class="logo-fixed">
        <img src="{% static 'receitas/img/logo.png' %}" alt="Logo" class="logo-image">
    </div>
    <div class="container mt-5">
        <h2>Editar Perfil</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario.as_p }}
            {% if mensagem %}
                <div class="alert alert-info">{{ mensagem }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
    </div>
</body>
</html>
