{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8hE68aNjrXkE5E5h5l7O3O6j6N6p6c6" crossorigin="anonymous">
    <title>{{titulo_pagina}}</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
</head>
<body>
    {% include 'usuarios/header.html'%}
    {% include 'usuarios/links.html'%}
    <img src="{% static 'receitas/img/logo.png' %}" alt="Logo" class="logo-image">
    <h1>{{titulo_janela}}</h1>
    <form action="" method="POST">
        <fieldset style="width: max-content;">
            <legend>Formulário de Cadastro</legend>
            {% csrf_token %}
            <table class="formulario">
            {{ formulario.as_table }}
            </table>
            {% if mensagem %}
                <p> {{ mensagem }} </p>
            {% endif %}
            <button type="submit" class = "btn btn-primary">Cadastrar</button>
        </fieldset>
    </form>
    <div class="login-link">
        Já tem uma conta? <a href="{% url 'usuarios:login' %}">Login</a>
    </div>
</body>
</html>
