{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>{{titulo_pagina}}</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
</head>
<body class="bg-dark text-light">
    {% include 'usuarios/header.html'%}
    {% include 'usuarios/links.html'%}
    <div class="logo-fixed">
        <img src="{% static 'receitas/img/receitas/logo.png' %}" alt="Logo" class="logo-image">
    </div>
    <div class="cadastro-container">
        <div class="cadastro-card">
            <h1 class="cadastro-title">{{titulo_janela}}</h1>
            <form action="" method="POST" class="cadastro-form">
                <fieldset>
                    {% csrf_token %}
                    <table class="formulario">
                        {{ formulario.as_table }}
                    </table>
                    {% if mensagem %}
                        <p class="cadastro-msg">{{ mensagem }}</p>
                    {% endif %}
                    <button type="submit" class="modern-btn">Cadastrar</button>
                </fieldset>
            </form>
            <div class="login-link">
                Já tem uma conta? <a href="{% url 'usuarios:login' %}">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
