<!--
Para incluir esse fragmento de página HTML
em uma página HTML use:
{ % include 'usuarios/links.html' % }
-->
<nav class="nav-links">
  <a href="/" class="modern-btn">Home-Page</a>
  {% if user.is_authenticated %}
    <a href="{% url 'usuarios:logout_confirm' %}" class="modern-btn">Logout</a>
    <a href="{% url 'usuarios:perfil' user.id %}" class="modern-btn">Perfil</a>
    <div class="author-avatar" style="align-self: center;">
        {% if receita.autor.foto_de_perfil %}
            <img src="{{ receita.autor.foto_de_perfil.url }}" alt="{{ receita.autor.username }}" class="author-profile-pic">
        {% else %}
            <div class="author-profile-pic author-default-pic">
                {{ user.username|first|upper }}
            </div>
        {% endif %}
    </div>
  {% else %}
    <a href="{% url 'usuarios:login' %}" class="modern-btn">Login</a>
    <a href="{% url 'usuarios:cadastro' %}" class="modern-btn">Cadastro</a>   
  {% endif %}
  <!-- Aparecer nome do usuário na tela -->
    <div class="user-name">
      {% firstof user.username "Visitante" %}
    </div>

  <!-- <a href="{ url 'perfil' pk=usuario.id %}" class="modern-btn">Perfil</a> -->
</nav>