{% extends 'site_receitas/base.html' %}
{% load static %}

{% block titulo %}Confirmar Logout{% endblock %}

{% block content %}
<div class="container mt-5">
        <h2>Confirmar Logout</h2>
        <p>Você tem certeza que deseja sair?</p>
        <form method="post" action="{% url 'usuarios:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, sair</button>
            <a href="{% url 'receitas:homepage' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}