{% extends 'usuarios/base.html' %}
{% block titulo %}Email enviado{% endblock %}
{% block content %}
    <h2>Reset de senha</h2>
    <h3>Redefinição de senha enviada</h3>
    <p>
        Um email foi enviado para o endereço fornecido, se ele existir em nosso sistema. Ele contém um link para redefinir sua senha. Por favor, verifique a sua caixa de entrada.
    </p>
    <p>
        Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam.
    </p>
{% endblock %}