{% extends 'site_receitas/base.html' %}
{% load static %}

{% block titulo %}{{titulo_pagina}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'receitas/css/style.css' %}">

<div class="delete-recipe-container">
        <div class="delete-recipe-card">
            <div class="delete-recipe-header">
                <h2 class="delete-recipe-title">{{titulo_janela}}</h2>
            </div>
            <form method="post" class="delete-recipe-form">
                {% csrf_token %}
                <div class="form-content">
                    <table class="formulario">
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn delete-recipe-btn">{{botao}}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

