{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="{% static 'img/receitas/logo.png' %}" alt="Logo" class="logo-image">
    <title>Receita {{ receita.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" inte></head>
    <link rel="stylesheet" href="{% static 'css/receitas/style.css' %}">

</head>
<body class="bg-gray-50 text-gray-800">
    <p>Receita {{receita.title}}</p><!--TODO : Tem ver com os cara lá né, temos q ver como q linka essa pag com as outras-->

</body>
</html>

